@inherits LayoutComponentBase

<div class="auth-layout">
    @if (Body != null)
    {
        @Body
    }
    else
    {
        <div class="loading-spinner-container">
            <div class="loading-spinner"></div>
            <p class="loading-text">REA</p>
        </div>
    }
</div>

@code {
}
